*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.black{
  background-color: #070707;
}
.dark{
  background: url('./assets/textures/texture-grey.png');
  background-color: #000003;
}
.grey{
  background: url('./assets//textures/texture-grey.png');
  background-color: #070707;
}
.container{
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}
.titles>span>h1{
  color: #ddd;
  font-size: 32px;
  padding: 10px 50px;
}
.titles>span::before{
  content: "";
  width: 40px;
  height: 2px;
  margin: 30px 30px 0 0;
  background: #00bfe0;
  position: absolute;
  display: block;
}
.titles>p{
  color: #00bfe0;
  font-size: 14px;
}